.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(124, 231, 165);
  color: white;
  padding: 15px;
  margin-bottom: 0;
  font-size: em;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('/Life.jpg'); /* Adjust the path as needed */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}